body {max-width: 960px;
height: auto;
margin: 0 auto;
padding: 1%;}
.yelow {max-width: 100%;
height: 50px;
background-color: gold;}
.conteiner {display: flex;
justify-content: space-between;
margin: 1% 0;}
.blu {
    max-width:54% ;
    height: auto;
    background-color: blue;
}
.grey{
    max-width:22%;
    height: auto;
background-color: darkgray;}
.red{
    max-width:22%;
    height: auto;
background-color: brown;}
.green {max-width: 100%;
    height: 50px;
    background-color:darkgreen;    
    margin-bottom: 10px;
}

.Lorem {
    background-color: darkkhaki;
    color: aqua;
}
.sidebar {background-color: aquamarine;
}
.case-two {margin-bottom: 2%;}
.case-tre {margin: 0 auto;
background-color: rgb(27, 75, 75);
display:flex;
flex-direction: column;
margin-bottom: 1%;}
.reding {background-color: brown;
padding: 1%;
margin: 1%;}
.brotherths {margin: 0 1% 1% 1%;
    background-color: rgb(27, 75, 75);}
.greenes {background-color: darkgreen;
    padding: 1%;
    margin-bottom: 1%;
    }
.blust {background-color: blue;
padding: 1%;
}
.picture {
    max-width: 100%;
    margin-bottom: 1%;
}
picture {margin: 0 auto;
text-align: center;
}

img {
    display: block;
   max-width: 100%;
   object-fit: cover; 
}
@media (min-width: 480px)and(max-width:767px)
{
.case-two {min-width: 480px;
    height: auto;
    margin: 0 auto;}

.Lorem {max-width: 100%;
    padding: 10px;
    margin-bottom: 1%;}

.sidebar {max-width: 100%;
        padding: 10px;}

.case-tre {min-width: 480px;}

.reding {max-width: 98%;}

.greenes{max-width: 98%;
        margin-bottom: 1%;}

.blust{
        max-width: 98%;
        height: 30px;
       }
       picture {max-width: 480px;}
}

@media (min-width: 768px) {
    .case-two {min-width: 768px;
    display: flex;
justify-content: space-between;
margin: 0 auto;}
    .Lorem {max-width: 74.2%;
        padding: 1%;
   margin-right: 1.5%;}
    .sidebar{max-width: 24.3%;
        padding: 1%;}
        .case-tre {min-width: 768px;
        margin-top: 1%;}
        .reding {margin: 1%;}
        .brotherths {margin: 0 1% 1% 1%;
        display: flex;}
        .greenes{
        max-width: 30%;
    margin-bottom: 0;}
        .blust{
        margin-left: 1%;}
        picture {max-width: 768px;
        }
}

